@use '../../app-theme' as * ;
@use '../../mixins' as * ;

header {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $background-color-secondary;
    color: white;
    display: flex;
    font-size: 24px;
    height: 6vh;
    justify-content: space-between;
    max-height: 80px;
    min-height: 56px;
    padding-left: 32px;
    padding-right: 32px;

    button {
        @include buttonStyle();
    }

}

.headline {
    h1 {
        font-size: 56px;
        font-weight: 100;
    }
    p {
        font-size: 24px;
        font-weight: 100;
    }
    div {
        @include dFlex(start, center);
        gap: 8px;
        margin-bottom: 8px;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    height: 75vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    section {
        width: 100%;;
    }
    
}

.upload-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.left-section {
    @include dFlex();
    flex-direction: column;
}

.right-section {
    @include dFlex();
}

.file-container {
    width: 600px;
    height: 650px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 100%;
    input[type="file"] {
        display: none;
    }

    button {
        @include buttonStyle();
        width: 100%;
    }

}

.custom-file-upload {
    @include dFlex();
    border: 1px solid white;
    border-radius: $border-radius;
    border-style: dashed;
    cursor: pointer;
    height: 60%;
    width: 100%;

    &:hover {
        background-color: $background-color-secondary;
    }
  }

  .additional-file-upload{
    @include dFlex();
    border: 1px solid white;
    border-radius: $border-radius;
    border-style: dashed;
    cursor: pointer;
    font-size: 40px;
    height: 80px;
    width: 80px;
    &:hover {
        background-color: $background-color-secondary;
    }
  }

  .input-fields {
    @include dFlex();
    flex-direction: column;
    gap: 16px;
    width: 100%;

    input {
        @include InputStyle();
        width: 100%;
    }

    textarea {
        @include InputStyle();
        height: 148px;
        resize: none;
        width: 100%;
    }

  }

  .uploaded-files {
    display: flex;
    gap: 8px;
    height: 135px;
    margin-top: 16px;
    overflow-x: scroll;
    padding-top: 16px;
    width: 100%;

    img {
        border-radius: 6px;
        height: 80px;
        object-fit: cover;
        width: 80px;
    }
  }

  .file-detail {
    position: relative;

    img:first-child {
        position: absolute;
        top: -9px;
        right: -9px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
  }



.example-photos {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-one{
    @include imageStyle(0%, 0%, 450ms, 3);
}

.img-two{
    @include imageStyle(-10%, 10%, 550ms, 2);
}

.img-three{
    @include imageStyle(-20%, 20%, 650ms, 1);
}

footer {
    align-items: center;
    background-color: $background-color-secondary;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    bottom: 0;
    color: white;
    display: flex;
    font-size: 18px;
    height: 6vh;
    justify-content: center;
    max-height: 80px;
    min-height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    position: fixed;
    width: 100%;
}

@media (max-width: $media-breakpoint-xl) {
    
    .file-container {
        width: 500px;
        height: 550px;
    }
}

@media (max-width: $media-breakpoint-l) {
    
    .file-container {
        width: 400px;
        height: 450px;
    }
}

@media (max-width:$media-breakpoint-m) {

    .headline{
        font-size: 48px;
    }
    
    .file-container {
        width: 300px;
        height: 350px;
    }
}

@media (max-height: 950px) {
    main {
        margin-bottom: 300px;
    }

    footer {
        position: relative;
    }

}