<header>
    <span>Doclinko</span>
    <button>Login</button>
</header>
<main [style]="{'opacity': mainContentIsLoaded() ? '1' : '0'}">
    <section class="headline">
        <h1>Share your photos with everyone</h1>
        <div>
            <img src="images/check.svg" alt="white check">
            <p>100% free of charge</p>
        </div>
        <div>
            <img src="images/check.svg" alt="white check">
            <p>without registration</p>
        </div>
        <div>
            <img src="images/check.svg" alt="white check">
            <p>original quality</p>
        </div>
    </section>
    <section class="upload-section">
        <section class="left-section">
            <div class="file-container">
                <form onsubmit="" class="file-upload">

                    @if (uploadedFiles.length === 0) {
                        <label for="fileUpload" class="custom-file-upload">
                            click to upload photos
                        </label>
                        <input (change)="processUploadedFiles()" #fileUpload id="fileUpload" type="file" multiple />
                    } @else {                          
                        <div class="input-fields">
                            <input required type="text" placeholder="your name" name="sender"/>
                            <input required type="email" placeholder="recipient email" name="recipient"/>
                            <textarea placeholder="your message" name="message"></textarea>
                        </div>
                    }


                    @if (uploadedFiles.length > 0) {
                        @if (uploadedFiles.length === 1) {
                            <p>Uploaded 1 file</p>
                        } @else {
                            <p>Uploaded {{uploadedFiles.length}} files</p>
                        }
                    }
                    @if (uploadedFiles.length > 0) {
                        <div class="uploaded-files">
                            <div>
                                <label for="fileUpload" class="additional-file-upload">
                                    <span>+</span>
                                </label>
                                <input (change)="processUploadedFiles()" #fileUpload id="fileUpload" type="file" multiple />
                            </div>
                            @for (file of uploadedFiles; track file ; let i=$index) {
                                <div class="file-detail">
                                    <img src="images/cross.svg" alt="white cross" (click)="removeFileFromUploads(i)">
                                    <img [src]="file.src" alt="uploaded photo">
                                </div>
                            }
                        </div>
                    }
                    <button routerLink="doclinkview" [disabled]="uploadedFiles.length < 1">send doclink</button>
                </form>

            </div>
            
        </section>
        <section class="right-section">
            <div class="example-photos">
                <img [style]="{'transform': imageOneIsLoaded() ? 'translateX(0%)' : 'translateX(200%)' , 'opacity':  imageOneIsLoaded() ? '1' : '0'}" id="imageOne" class="img-one" src="images/nature.jpg" alt="city photo">
                <img [style]="{'transform': imageTwoIsLoaDded() ? 'translateX(0%)' : 'translateX(200%)', 'opacity':  imageTwoIsLoaDded() ? '1' : '0'}" class="img-two" src="images/city.jpg" alt="nature photo">
                <img [style]="{'transform': imageThreeIsLoaded() ? 'translateX(0%)' : 'translateX(200%)','opacity':  imageThreeIsLoaded() ? '1' : '0' }" class="img-three" src="images/laptop.jpg" alt="laptop photo">
            </div>
        </section>
    </section>
</main>
<footer>
    <span>© 2025 Doclinko. All rights reserved.</span>
</footer>