@use '../../app-theme' as * ;
@use '../../mixins' as * ;

header {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $background-color-secondary;
    color: white;
    display: flex;
    font-size: 18px;
    height: 6vh;
    justify-content: space-between;
    max-height: 80px;
    padding-left: 32px;
    padding-right: 32px;

    button {
        @include buttonStyle();
    }

}

.headline {
    h1 {
        font-size: 56px;
        font-weight: 100;
    }
    p {
        font-size: 24px;
        font-weight: 100;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    height: 75vh;
    section {
        width: 100%;;
    }
    
}

.upload-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    input {
        display: none;
    }

    button {
        @include buttonStyle();
        width: 500px;
    }

}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    border-style: dashed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 500px;

    &:hover {
        background-color: $background-color-secondary;
    }
  }


.example-photos {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-one{
    border-radius: $border-radius;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0%;
    width: 500px;
    z-index: 3;
}

.img-two{
    border-radius: $border-radius;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 500px;
    top: -10%;
    left: 10%;
    z-index: 2;
}

.img-three{
    border-radius: $border-radius;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 500px;
    top: -20%;
    left: 20%;
    z-index: 1;
}

footer {
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: $background-color-secondary;
    color: white;
    display: flex;
    font-size: 18px;
    height: 6vh;
    justify-content: center;
    max-height: 80px;
    position: absolute;
    padding-left: 32px;
    padding-right: 32px;
    bottom: 0px;
    width: 100%;
}