$blue:#00afef;
$blue-secondary: #45cdff;

$background-color-primary: #070f1c;
$background-color-secondary: #0e1627;

$border-radius: 8px;

$media-breakpoint-xl: 1850px;
$media-breakpoint-l: 1500px;
$media-breakpoint-m: 1200px;
$media-breakpoint-s: 900px; 