@use './_app-theme' as * ;

@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
  }

@mixin buttonStyle() {
    background-color: $blue;
    border: none;
    border-radius: $border-radius;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: $blue-secondary;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }
}
